<widget xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0" id="www.eycpluss.com" version="1.0.0">
  <name>Eyc pluss</name>
  <description>Eyc Pluss Entretenimiento y comunicaciones. TV INTERNET 2Mb fibra Optica</description>
  <author href="http://www.kaestudios.com.com" email="ideaskaestudios@gmail.com">Ka Estudios</author>
  <content src="index.html"/>
  <plugin name="net.yoik.cordova.plugins.screenorientation" spec="0.0.2" source="pgb" />
  <preference name="permissions" value="none"/>
  <preference name="orientation" value="portrait"/>
  <preference name="target-device" value="universal"/>
  <preference name="fullscreen" value="false"/>
  <preference name="webviewbounce" value="true"/>
  <preference name="prerendered-icon" value="true"/>
  <preference name="stay-in-webview" value="true"/>
  <preference name="ios-statusbarstyle" value="black-opaque"/>
  <preference name="detect-data-types" value="true"/>
  <preference name="exit-on-suspend" value="false"/>
  <preference name="show-splash-screen-spinner" value="true"/>
  <preference name="auto-hide-splash-screen" value="true"/>
  <preference name="HideKeyboardFormAccessoryBar" value="true"/>
  <preference name="disable-cursor" value="false"/>
  <preference name="android-minSdkVersion" value="14"/>
  <preference name="android-installLocation" value="auto"/>

  <preference name="StatusBarOverlaysWebView" value="true" /> 
  <preference name="StatusBarColor" platform="android" value="#006699" />
  <preference name="StatusBarStyle" value="lightcontent" />

  <gap:plugin name="org.apache.cordova.battery-status"/>
  <gap:plugin name="org.apache.cordova.console"/>
  <gap:plugin name="org.apache.cordova.device"/>
  <gap:plugin name="org.apache.cordova.device-motion"/>
  <gap:plugin name="org.apache.cordova.dialogs"/>
  <gap:plugin name="org.apache.cordova.network-information"/>
  <gap:plugin name="org.apache.cordova.splashscreen"/>
  <gap:plugin name="org.apache.cordova.vibration"/>
 
  <gap:platform name="android" />
  <icon src="icon.png"/>
  <icon src="ldpi.png" platform="android" qualifier="ldpi" /> 
  <icon src="mdpi.png" platform="android" qualifier="mdpi" /> 
  <icon src="hdpi.png" platform="android" qualifier="hdpi" />
  <icon src="xhdpi.png" platform="android" qualifier="xhdpi" />
  <icon src="icon.png" platform="android" qualifier="xxhdpi"/> 
  <icon src="icon.png" platform="android" qualifier="fr-xxhdpi"/>
  
  <gap:splash src="splash-port-ldpi.png" gap:platform="android" gap:qualifier="port-ldpi"/>
  <gap:splash src="splash-port-mdpi.png" gap:platform="android" gap:qualifier="port-mdpi"/>
  <gap:splash src="splash-port-hdpi.png" gap:platform="android" gap:qualifier="port-hdpi"/>
  <gap:splash src="splash-port-xhdpi.png" gap:platform="android" gap:qualifier="port-xhdpi"/>
  
  <access origin="*"/>
  <plugin name="cordova-plugin-whitelist" version="1"/>
  <allow-intent href="http://*/*"/>
  <allow-intent href="https://*/*"/>
  <allow-intent href="tel:*"/>
  <allow-intent href="sms:*"/>
  <allow-intent href="mailto:*" launch-external="yes"/>
  <allow-intent href="geo:*"/>
  <platform name="android">
    <allow-intent href="market:*"/>
	<uses-permission id="android.permission.CALL_PHONE" />
  </platform>
  <preference name="SplashScreenDelay" value="10000" />
  <platform name="ios">
    <allow-intent href="itms:*"/>
    <allow-intent href="itms-apps:*"/>
  </platform>
  <feature name="SplashScreen">
    <param name="android-package" value="org.apache.cordova.splashscreen.SplashScreen" />
</feature>

</widget>